ONLY_ACTIVE_ARCH=NO
ARCHS = i386 x86_64
VALID_ARCHS = i386 x86_64
IPHONEOS_DEPLOYMENT_TARGET = 8.0
IOS_PLATFORM = SIMULATOR64
ENABLE_BITCODE = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
//DEBUGGING_SYMBOLS=NO
STRIP_INSTALLED_PRODUCT=YES
//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING=YES

